body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  color: #555;
}

h3 {
  color: #333;
  font-style: oblique;
}

ul li{
  margin: 10px;
}

header{
  padding: 20px;
  background-color: #555;
  color: #fff;
  border-top: 10px solid #ef8200;
}

header h1{
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container {
  width: 70%;
  margin: 5px auto 0;
  background-color: #ededed;
  border: 1px solid #ccc;
  -webkit-border-radius: 05px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 05px;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-radius: 05px;
  border-top-left-radius: 0;
}

.container a {
  font-family: arial;
  font-size: 18px;
  color: #d71700
}

.content{
  padding: 5% 5% 0;
}

.imageContainter {
  position: relative;
  width: 30%;
  overflow: visible!important;
}

.imageContainter img {
  width: 100%;
  border: 1px solid #ef8200;
}

.floatLeft {
  float: left;
  margin: 0 20px 10px 0;
}

.description{
  margin:0;
  padding: 0;
  font-size: 22px;
}

section{
  margin: 20px 0;
}

section:first-of-type{
  margin-top: 0;
}

#feedbackForm{
  margin: 20px 0 0;
}

legend{
  font-weight: 700;
  color: #555;
}

#feedbackForm fieldset{
  padding: 20px;
  border: 1px solid #555;
}

#feedbackForm button{
  margin-top: 20px;
}

#feedbackForm input[type=text], textarea{
  width: 95%;
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555;
  font-weight: 300;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#feedbackForm input[type=text]:invalid,
#feedbackForm textarea:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#feedbackForm textarea:valid{
  height: 65px;
  padding: 5px;
}

#feedbackForm textarea:invalid {
  padding-top: 30px;
  color: #444;
}

#feedbackForm button[type=submit]{
  padding: 10px;
  background-color: #ef8200;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#feedbackForm button[type=submit]:hover{
  cursor: pointer;
}

#feedbackForm .circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#feedbackForm .changeSize{
  position: absolute;
  bottom: -10px;
  font-weight: 700;
  background-color: #ef8200;
  color: #fff;
  text-align: center;
  font-size: 26px;
  line-height: 26px;
}

#feedbackForm .changeSize:hover{
  cursor:pointer;
}

#feedbackForm .changeSize.decrease{
  left: -10px;
}

#feedbackForm .changeSize.increase{
  right: -10px;
}

#feedbackForm .completed {
  color: #ef8200;
  list-style-type: none;
}

#feedbackForm .completed:before{
  content: '✔';   
  margin-left: -18px;
  margin-right: 8px;
}

hr{
  height: 1px;
  background-color: #ccc;
  border: none;
}

hr.top{
  clear: both;
  margin-top: 40px;
}

hr.bottom{
  margin-bottom: 40px;
}

.tasks{
  display: inline-block;
  vertical-align: top;
}

.tasks.left{
  width: 40%;
}

.tasks.right{
  width: 50%;
}

.tasks li{
  font-size: 18px;
}

.tasks li:hover{
  cursor: pointer;
}

.hideImageMessage{
  position: absolute;
  top: 40%;
  width: 93%;
  left: 0;
  padding: 4%;
  font-weight: bold;
  color: #555;
  font-size: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-transition:all 0.9s ease-in-out;
  -webkit-transition:all 0.9s ease-in-out;
  transition:all 0.9s ease-in-out;
  opacity: 0;
}

.hideImageMessage.isVisible{
  opacity: 1;
}
